<a href="https://colab.research.google.com/github/Sanjeevan76/Python/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD EPYC 7B12
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2249.998
cache size	: 512 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ht syscall nx mmxext fxsr_opt pdpe1gb rdtscp lm constant_tsc rep_good nopl nonstop_tsc cpuid extd_apicid tsc_known_freq pni pclmulqdq ssse3 fma cx16 sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm cmp_legacy cr8_legacy abm sse4a misalignsse 3dnowprefetch osvw topoext ssbd ibrs ibpb stibp vmmcall fsgsbase tsc_adjust bmi1 avx2 smep bmi2 rdseed adx smap clflushopt clwb sha_ni xsaveopt xsavec xgetbv1 clzero xsaveerptr arat npt nrip_save umip rdpid
bugs		: sysret_ss_attrs null_seg spectre_v1 spectre_v2 spec_store_bypass retbleed smt_rsb srso ibpb_no_ret
bogomips	: 4499.99
TLB size	: 3072 4K pages
clflush size	: 64
cache_alignment	: 64
address sizes	: 48 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD EPYC 7B12
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2249.998
cache size	: 512 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ht syscall nx mmxext fxsr_opt pdpe1gb rdtscp lm constant_tsc rep_good nopl nonstop_tsc cpuid extd_apicid tsc_known_freq pni pclmulqdq ssse3 fma cx16 sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm cmp_legacy cr8_legacy abm sse4a misalignsse 3dnowprefetch osvw topoext ssbd ibrs ibpb stibp vmmcall fsgsbase tsc_adjust bmi1 avx2 smep bmi2 rdseed adx smap clflushopt clwb sha_ni xsaveopt xsavec xgetbv1 clzero xsaveerptr arat npt nrip_save umip rdpid
bugs		: sysret_ss_attrs null_seg spectre_v1 spectre_v2 spec_store_bypass retbleed smt_rsb srso ibpb_no_ret
bogomips	: 4499.99
TLB size	: 3072 4K pages
clflush size	: 64
cache_alignment	: 64
address sizes	: 48 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13289416 kB
MemFree:         9063164 kB
MemAvailable:   11950600 kB
Buffers:          136724 kB
Cached:          2946964 kB
SwapCached:            0 kB
Active:           465948 kB
Inactive:        3493892 kB
Active(anon):       2464 kB
Inactive(anon):   878552 kB
Active(file):     463484 kB
Inactive(file):  2615340 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               540 kB
Writeback:             0 kB
AnonPages:        876176 kB
Mapped:           456588 kB
Shmem:              4856 kB
KReclaimable:      99420 kB
Slab:             136376 kB
SReclaimable:      99420 kB
SUnreclaim:        36956 kB
KernelStack:        5408 kB
PageTables:        13340 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6644708 kB
Committed_AS:    2886124 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       12036 kB
VmallocChunk:          0 kB
Percpu:             1072 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       66352 kB
DirectMap2M:     5173248 kB
DirectMap1G:    10485760 kB

package install

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
!ls

sample_data

#python

#basic datatype

1.int
2.float
3.str

In [ ]:
type(3)

int

In [ ]:
type(5.5)

float

In [ ]:
type("string")

str

#contant and variable

In [ ]:
superhero="ironman"
print(superhero)

ironman

In [ ]:
hero1,hero2,hero3="ironman","shakti man","king"
print(hero1)
print(hero2)
print(hero3)

ironman
shakti man
king

In [ ]:
x=y=z=20
print(x)
print(y)
print(z)

20
20
20

In [ ]:
#input functio

In [ ]:
number1=input("enter first number")
number2=input("enter second number") #input function given string type
sum=number1+number2
print(sum) # so sum=22 (if number1=2 and number2=2)

In [ ]:
number1=int(input("enter first number"))
number2=int(input("enter second number")) # you can also make it float
sum=number1+number2
print(sum)

#changing data type

In [ ]:
num=4
type(num)
print(float(num)) # num is intially int but after applying float it convert into float value

#Basic Data Type
1.integer
2.floating point
3.complex
4.boolean
5.string

In [ ]:
a=8
print(a)

In [ ]:
b=9.4
type(b)

In [ ]:
c=1+3j
type(c)

#sring

In [ ]:
name="sanjeeva"
print(name)
type(name)

In [ ]:
print("hell0"*5)

#BOOLEAN

In [ ]:
a=7>2
print(a)
type(a)

#slice

In [ ]:
my_string="knowledge"

In [ ]:
print(my_string[0:3]) #slice and only print from 0 to 2nd index

In [ ]:
print(my_string[0:10:2]) # in this print 0 to 9 and every 2nd char will reomove

#concatinate

In [ ]:
str1="sanjeevan"
str2="kumar"
print(str1+" "+str2)

#List

In [1]:
my_List=[2,3,4,5] # list shoud be in square bracket
print(my_List)

[2, 3, 4, 5]

In [2]:
#list shoud contain multiple data type like int string
my_list2=[1,2,3,"sam"]
print(my_list2)

[1, 2, 3, 'sam']

In [11]:
#we can add remove elemnt from list
my_list2=[1,2,3,"sam"]
my_list2.append("sanjeevan")
print(my_list2)
del my_list2[2]
print("after delete")
print(my_list2)

[1, 2, 3, 'sam', 'sanjeevan']
after delete
[1, 2, 'sam', 'sanjeevan']

In [1]:
# List also contain duplicate items
my_list3=[1,2,3,4,5,2,4]
print(my_list3)

[1, 2, 3, 4, 5, 2, 4]

In [3]:
list_4=[1,2,3,4,5] #list can be added
list_5=[2,3,4,5]
print(list_4+list_5)

[1, 2, 3, 4, 5, 2, 3, 4, 5]

#Tuple

In [4]:
my_tuple=(2,3,4)
print(my_tuple)

(2, 3, 4)

In [5]:
#tuple allow multiple data type
my_tuple2=(1,2,3,"sam")
print(my_tuple)

(2, 3, 4)

In [8]:
#converting a tuple into list
my_tuple=(1,2,3,4)
my_list=list(my_tuple)
print(my_list)

[1, 2, 3, 4]

In [12]:
#topules are immutable (unchangeble) we cant change like add value
#we can find length of tuple like len(tuple)

#set declear in curly bracket

In [13]:
my_set={1,2,3}
print(my_set) #we cant acces the element of set by indexing like my_set[2]

{1, 2, 3}

In [14]:
#convert a list into set
my_list=[1,2,3,4]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4}

In [15]:
#set doesnt allow duplicate value
my_set3={1,2,3,4,3,4,2}
print(my_set3)

{1, 2, 3, 4}

#DICTIONARY
key-value pair

In [16]:
my_dictionar={'sam':1,"raj":3,"sanjeevan":"kumar"}
print(my_dictionar)

{'sam': 1, 'raj': 3, 'sanjeevan': 'kumar'}

In [20]:
print(my_dictionar['sam'])
print(my_dictionar['sanjeevan'])

1
kumar

In [ ]:
#dictionary does not allow duplicate value